<app-menu></app-menu>
<h2>REVERSE SHELL ENCRYPTED WITH NCAT CERTIFICATE</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter parameters to recieve a reverse shell of Victim Machine with SSL encryption. Not recommended for red team ops.</p>
  <p>IP address to recieve Reverse Shell: <input type="text" /></p>
  <p>PORT to recieve Reverse Shell: <input type="text" /></p>
  <p>Link address to download module Reverse shell (http://localhost) <input type="text" /></p>
  <p>To recieve Reverse shell launch in attacker machine: "ncat -lvp PORT -ssl"</p>
  <p>To recieve RShell launch Metasploit multi/handler with payload "cmd/unix/reverse_ncat_ssl"</p>
  <input type="submit" value="Reverse Shell" />
</form>

<h2>REVERSE SHELL ENCRYPTED WITH NCAT CERTIFICATE - BOTNET</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter parameters to recieve a reverse shell of Victim Machine with SSL encryption. Not recommended for red team ops.</p>
  <p>IP address to recieve Reverse Shell: <input type="text" /></p>
  <p>PORT to recieve Reverse Shell: <input type="text" /></p>
  <p>Link address to download module Reverse shell (http://localhost) <input type="text" /></p>
  <p>To recieve Reverse shell launch in attacker machine: "ncat -lvp PORT -ssl"</p>
  <p>To recieve RShell launch Metasploit multi/handler with payload "cmd/unix/reverse_ncat_ssl"</p>
  <input type="submit" value="Reverse Shell" />
</form>

<h2>REVERSE WITHOUT ENCRYPTION. UPGRADABLE TO METERPRETER</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter parameters to recieve a standar reverse shell of Victim Machine. Not recommended for red team ops.</p>
  <p>IP address to recieve Reverse Shell: <input type="text" /></p>
  <p>PORT to recieve Reverse Shell: <input type="text" /></p>
  <p>Link address to download module Reverse shell (http://localhost) <input type="text" /></p>
  <p>To recieve Reverse shell launch in attacker machine: "ncat -lvp PORT"</p>
  <p>To recieve RShell launch Metasploit multi/handler with payload "generic/shell_reverse_tcp"</p>
  <input type="submit" value="Reverse Shell" />
</form>

<h2>REVERSE SHELL WITHOUT ENCRYPTION. UPGRADABLE TO METERPRETER.- BOTNET</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter parameters to recieve a standar shell of Victim Machine. Not recommended for red team ops.</p>
  <p>IP address to recieve Reverse Shell: <input type="text" /></p>
  <p>PORT to recieve Reverse Shell: <input type="text" /></p>
  <p>Link address to download module Reverse shell (http://localhost) <input type="text" /></p>
  <p>To recieve Reverse shell launch in attacker machine: "ncat -lvp PORT"</p>
  <p>To recieve RShell launch Metasploit multi/handler with payload "generic/shell_reverse_tcp"</p>
  <input type="submit" value="Reverse Shell" />
</form>
