<app-menu></app-menu>
<h2>DELETE Command previously launched</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Execute this module to remove last command launched.</p>
  <input type="submit" value="Execute" />
</form>

<h2>DELETE Command previously launched on BOTNET</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Execute this module to remove last command launched for all Victim Machines.</p>
  <input type="submit" value="Execute" />
</form>
