<app-menu></app-menu>
<table class="table table-striped">

  <thead>
    <tr>
      <th>FILES IN BOT DIRECTORY</th>


    </tr>
  </thead>



  <tr>
    <td> <a href=2062>2062</a><br></td>
  </tr>




<tr>
  <td> <a href=6211>6211</a><br></td>
</tr>




<tr>
  <td> <a href=18217>18217</a><br></td>
</tr>




<tr>
  <td> <a href=63552424233234367.php>63552424233234367.php</a><br></td>
</tr>




<tr>
  <td> <a href=8536352424434423.php>8536352424434423.php</a><br></td>
</tr>




<tr>
  <td> <a href=9375>9375</a><br></td>
</tr>




<tr>
  <td> <a href=CP>CP</a><br></td>
</tr>




<tr>
  <td> <a href=INDEXI>INDEXI</a><br></td>
</tr>




<tr>
  <td> <a href=MAJOR>MAJOR</a><br></td>
</tr>





<tr>
  <td> <a href=SetPassC2.php>SetPassC2.php</a><br></td>
</tr>




<tr>
  <td> <a href=Templates_modules>Templates_modules</a><br></td>
</tr>




<tr>
  <td> <a href=assets>assets</a><br></td>
</tr>




<tr>
  <td> <a href=change.php>change.php</a><br></td>
</tr>




<tr>
  <td> <a href=cm.php>cm.php</a><br></td>
</tr>




<tr>
  <td> <a href=commands.php>commands.php</a><br></td>
</tr>




<tr>
  <td> <a href=del.php>del.php</a><br></td>
</tr>




<tr>
  <td> <a href=delindex.php>delindex.php</a><br></td>
</tr>




<tr>
  <td> <a href=delindexi.php>delindexi.php</a><br></td>
</tr>




<tr>
  <td> <a href=delinject.php>delinject.php</a><br></td>
</tr>




<tr>
  <td> <a href=delmagic.php>delmagic.php</a><br></td>
</tr>




<tr>
  <td> <a href=delmajor.php>delmajor.php</a><br></td>
</tr>



<tr>
  <td> <a href=delvalak.php>delvalak.php</a><br></td>
</tr>




<tr>
  <td> <a href=delvalaki.php>delvalaki.php</a><br></td>
</tr>




<tr>
  <td> <a href=dos.php>dos.php</a><br></td>
</tr>




<tr>
  <td> <a href=dosi.php>dosi.php</a><br></td>
</tr>




<tr>
  <td> <a href=dw.php>dw.php</a><br></td>
</tr>




<tr>
  <td> <a href=estilos.css>estilos.css</a><br></td>
</tr>




<tr>
  <td> <a href=execute.php>execute.php</a><br></td>
</tr>



<tr>
  <td> <a href=get.php>get.php</a><br></td>
</tr>




<tr>
  <td> <a href=ident.php>ident.php</a><br></td>
</tr>




<tr>
  <td> <a href=identer.php>identer.php</a><br></td>
</tr>




<tr>
  <td> <a href=identiti>identiti</a><br></td>
</tr>


<tr>
  <td> <a href=ima.php>ima.php</a><br></td>
</tr>




<tr>
  <td> <a href=image>image</a><br></td>
</tr>




<tr>
  <td> <a href=index.php>index.php</a><br></td>
</tr>




<tr>
  <td> <a href=index0.php>index0.php</a><br></td>
</tr>




<tr>
  <td> <a href=index_CP.php>index_CP.php</a><br></td>
</tr>




<tr>
  <td> <a href=info.php>info.php</a><br></td>
</tr>



<tr>
  <td> <a href=juden.php>juden.php</a><br></td>
</tr>




<tr>
  <td> <a href=key.php>key.php</a><br></td>
</tr>


<tr>
  <td> <a href=killlogger.php>killlogger.php</a><br></td>
</tr>




<tr>
  <td> <a href=listar.php>listar.php</a><br></td>
</tr>




<tr>
  <td> <a href=location.php>location.php</a><br></td>
</tr>




<tr>
  <td> <a href=logger.php>logger.php</a><br></td>
</tr>




<tr>
  <td> <a href=loggg.php>loggg.php</a><br></td>
</tr>




<tr>
  <td> <a href=logout.php>logout.php</a><br></td>
</tr>




<tr>
  <td> <a href=logs>logs</a><br></td>
</tr>




<tr>
  <td> <a href=logsys.php>logsys.php</a><br></td>
</tr>




<tr>
  <td> <a href=memoryc2.php>memoryc2.php</a><br></td>
</tr>




<tr>
  <td> <a href=meterc2.php>meterc2.php</a><br></td>
</tr>




<tr>
  <td> <a href=put.php>put.php</a><br></td>
</tr>




<tr>
  <td> <a href=remove.php>remove.php</a><br></td>
</tr>



<tr>
  <td> <a href=rs.php>rs.php</a><br></td>
</tr>



<tr>
  <td> <a href=rshell.php>rshell.php</a><br></td>
</tr>




<tr>
  <td> <a href=rstandar.php>rstandar.php</a><br></td>
</tr>




<tr>
  <td> <a href=screen.php>screen.php</a><br></td>
</tr>




<tr>
  <td> <a href=screeni.php>screeni.php</a><br></td>
</tr>




<tr>
  <td> <a href=sqlite3.dll>sqlite3.dll</a><br></td>
</tr>



<tr>
  <td> <a href=stc2.php>stc2.php</a><br></td>
</tr>



<tr>
  <td> <a href=treeinfo.php>treeinfo.php</a><br></td>
</tr>



<tr>
  <td> <a href=up.php>up.php</a><br></td>
</tr>


<tr>
  <td> <a href=uplo.php>uplo.php</a><br></td>
</tr>



<tr>
  <td> <a href=uplogger.php>uplogger.php</a><br></td>
</tr>


<tr>
  <td> <a href=vault.php>vault.php</a><br></td>
</tr>




<tr>
  <td> <a href=web.php>web.php</a><br></td>
</tr>




<tr>
  <td> <a href=webcrechrome.php>webcrechrome.php</a><br></td>
</tr>




<tr>
  <td> <a href=webcrefirefox.php>webcrefirefox.php</a><br></td>
</tr>



<tr>
  <td> <a href=webcreiedge.php>webcreiedge.php</a><br></td>
</tr>


<tr>
  <td> <a href=webcreopera.php>webcreopera.php</a><br></td>
</tr>



<tr>
  <td> <a href=wif.php>wif.php</a><br></td>
</tr>



<tr>
  <td> <a href=wifi.php>wifi.php</a><br></td>
</tr>


</table>
