<app-menu></app-menu>
<h2>IMPLANT TO CONNECT TO "MEMORY C2"</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter parameters to recieve control of Victim Machine.</p>
  <p>URL C2 to recieve control victim machine("http://127.0.0.1:443"):<input type="text" /></p>
  <p>PSK C2 to recieve control victim machine(xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx):<input type="text" /></p>
  <p>GUID C2 to recieve control victim machine(xxxxxxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxx):("http://127.0.0.1:443"):<input type="text" /></p>
  <p>Link HTTP server where binary is("http://localhost"):<input type="text" /></p>
  <p>To recieve control of machine, prepare scenario in attacker machine according to manual.</p>
  <input type="submit" value="Execute" />
</form>

<h2>IMPLANT TO RECIEVE METERPRETER SESSION OF VICTIM MACHINE</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter parameters to recieve Masterpreter Session of Victim Machine.</p>
  <p>IP address to recieve Reverse Shell("LHOST"):<input type="text" /></p>
  <p>PORT to recieve Reverse Shell(LPORT):<input type="text" /></p>
  <p>Type of payload(tcp, https, dns):("http://127.0.0.1:443"):<input type="text" /></p>
  <p>Provide a key for cipher malware("8as7f76a6f88asf7a7f6a6fs"):<input type="text" /></p>
  <p>Link HTTP server where binary is (http://localhost)<input type="text" /></p>
  <p>To recieve Meterpreter session. configure Metasploit multi/handler with payload "windows/x64/meterpreter/reverse_*".</p>
  <input type="submit" value="Execute" />
</form>

<h2>IMPLANT TO RECIEVE METERPRETER SESSION OF VICTIM MACHINE</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter parameters to recieve a standar reverse shell of Victim Machine. Not recommended for read team ops.</p>
  <p>IP address to recieve Reverse Shell("LHOST"):<input type="text" /></p>
  <p>PORT to recieve Reverse Shell(LPORT):<input type="text" /></p>
  <p>Type of payload(tcp, https, dns):("http://127.0.0.1:443"):<input type="text" /></p>
  <p>Provide a key for cipher malware("8as7f76a6f88asf7a7f6a6fs"):<input type="text" /></p>
  <p>Link HTTP server where binary is (http://localhost)<input type="text" /></p>
  <p>To recieve Meterpreter session. configure Metasploit multi/handler with payload "windows/x64/meterpreter/reverse_*".</p>
  <input type="submit" value="Execute" />
</form>
